<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Initialization</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <style>
        .upload-status {
            height: 150px;
            border: 1px solid #ccc;
            padding: 10px;
            overflow-y: auto;
            font-size: 1.3em;
            color: green;
            margin-top: 0px;
        }
        .error {
            color: red;
        }
        .list-group {
            border: 2px solid #000; /* 윤곽선 굵게 */
            height: 100%; /* 높이 설정 */
        }
        .list-group-item {
            cursor: pointer;
        }
        .btn-full-height {
            height: 100%; /* 버튼 높이 설정 */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center mb-5">
            <h1 class="page-title">Data Sampler Tool</h1>
        </div>
        <h3 class="mb-4">New Data Upload</h3>
        <form id="upload-form" action="upload" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Reference Data
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ref">Format:</label>
                                <input type="file" id="ref-upload" name="ref-upload" class="form-control-file" onchange="validateFile(this)">
                                <select id="ref-format" name="ref-format" class="form-control mt-2">
                                    <option value="YOLOv5Dataset">YOLOv5Dataset</option>
                                    <option value="FiftyOneDataset">FiftyOneDataset</option>
                                    <option value="RawImageData">RawImageData</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Current Data
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="cur">Format:</label>
                                <input type="file" id="cur-upload" name="cur-upload" class="form-control-file" onchange="validateFile(this)">
                                <select id="cur-format" name="cur-format" class="form-control mt-2">
                                    <option value="YOLOv5Dataset">YOLOv5Dataset</option>
                                    <option value="FiftyOneDataset">FiftyOneDataset</option>
                                    <option value="RawImageData">RawImageData</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Predict Data
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="test">Format:</label>
                                <input type="file" id="test-upload" name="test-upload" class="form-control-file" onchange="validateFile(this)">
                                <select id="test-format" name="test-format" class="form-control mt-2">
                                    <option value="YOLOv5Dataset">YOLOv5Dataset</option>
                                    <option value="FiftyOneDataset">FiftyOneDataset</option>
                                    <option value="RawImageData">RawImageData</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-8">
                    <div id="status-log" class="upload-status"></div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="col-12">
                            <input type="text" id="merged-dataset-name" name="merged-dataset-name" placeholder="Enter merged dataset name" class="form-control mb-3">
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-success mb-3 btn-block" 
                                    style="padding: 15px 0; font-size: 1.2rem; font-weight: 600;" 
                                    onclick="submitForm()">Process & Load Dataset</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <h3 class="mt-5" style="margin-bottom: 24px;">Built Dataset List</h3>
        <form id="load-dataset-form" action="load_existing_dataset" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-9">
                        <div id="dataset-list" class="list-group mb-3">
                            <!-- JavaScript로 데이터셋 목록이 여기에 추가됩니다 -->
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column">
                        <button type="button" class="btn btn-warning btn-block flex-grow-1"
                                style="font-weight: 600;"
                                onclick="submitLoadForm()">Load Dataset</button>
                        <button type="button" class="btn btn-danger btn-block flex-grow-1"
                                style="font-weight: 600;"
                                onclick="deleteDataset()">Delete Dataset</button>
                    </div>
                </div>
                <input type="hidden" id="selected-dataset" name="saved-datasets">
            </div>
        </form>
    </div>

    <!-- Bootstrap JS 및 jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('get_existing_datasets')
                .then(response => response.json())
                .then(datasets => {
                    const listGroup = document.getElementById('dataset-list');
                    datasets.forEach(dataset => {
                        const item = document.createElement('button');
                        item.type = 'button';
                        item.className = 'list-group-item list-group-item-action';
                        item.textContent = dataset;
                        item.onclick = function() {
                            document.querySelectorAll('.list-group-item').forEach(el => el.classList.remove('active'));
                            item.classList.add('active');
                            document.getElementById('selected-dataset').value = dataset;
                        };
                        listGroup.appendChild(item);
                    });
                })
                .catch(error => console.error('Error fetching datasets:', error));
        });

        function submitLoadForm() {
            const selected = document.querySelector('.list-group-item.active');
            if (selected) {
                document.getElementById('load-dataset-form').submit();
            } else {
                alert('Please select a dataset to load.');
            }
        }

        function submitForm() {
            document.getElementById('upload-form').submit();
        }

        function validateFile(input) {
            const file = input.files[0];
            const statusLog = document.getElementById('status-log');
            if (file && !file.name.endsWith('.zip')) {
                const message = `Invalid file selected: ${file.name}. Only .zip files are allowed.`;
                statusLog.innerHTML += `<div class="error">${message}</div>`;
                input.value = ''; // 선택된 파일 초기화
            } else if (file) {
                const message = `File selected: ${file.name}`;
                statusLog.innerHTML += `<div>${message}</div>`;
            }
            statusLog.scrollTop = statusLog.scrollHeight; // 스크롤을 맨 아래로 이동
        }

        function deleteDataset() {
            const selected = document.querySelector('.list-group-item.active');
            if (selected) {
                const datasetName = document.getElementById('selected-dataset').value;
                fetch(`delete_dataset`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ dataset_name: datasetName })
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('status-log').innerHTML += `<div>${data.message.replace(/\n/g, "<br>")}</div>`;
                    selected.remove(); // 목록에서 삭제
                })
                .catch(error => console.error('Error deleting dataset:', error));
            } else {
                alert('Please select a dataset to delete.');
            }
        }
    </script>
</body>
</html>