## reference docs
ref.html

## venv
.venv/

## pytest
.pytest_cache/

## python cache
__pycache__/
*.py[cod]

## python package
*.egg-info/

## logs
runs/
**/outputs/
**/output/
**/tmp/

## cursor
.cursor/

## packaging
packaging/playwright-browsers/
dist/
build/